<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div id="contact">
  <h4>Email</h4>
  <p>contact@scheduleit.com</p>
  <br>
  <h4>Phone</h4>
  <p>+47 815 49 300</p>
  <br>
  <h4>Address</h4>
  <p>
    16 Coffee Street<br>
    9000 Tromsø<br>
    Norway
  </p>
</div>