<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  You're on your own...<br><br>
  Just kidding, here's a tutorial for
  <a href="http://www.railstutorial.org/book" class="linkses">Ruby on Rails</a>
</p>